{% extends 'base.html.twig' %}
{% block title %}Update{% endblock %}
{% block body %}
<h3 class="text-center">Update your details below</h3>
<div class="form">
	{% if service is not null %}
	<p class="text-left">If your {{ service|capitalize }} details displayed below are incorrect please log out of the 
		  service and log back in with the correct account.  After this you will be able to update your {{ service|capitalize }} details from 
		  <a href="{{ path('app_connect') }}">here</a>.</p>
	{% endif %}
	{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		<div class="row">
	  		<div class="col-sm">
				{{ form_row(registrationForm.forename) }}
			</div>
	  		<div class="col-sm">
				{{ form_row(registrationForm.surname) }}
			</div>
		</div>
		{% if registrationForm.stravaID is defined %}
		{{ form_row(registrationForm.stravaID) }}
		{% endif %}
		{% if registrationForm.komootID is defined %}
		{{ form_row(registrationForm.komootID) }}
		{% endif %}
		{% if registrationForm.stravaID is defined and registrationForm.komootID is defined %}
		{{ form_label(registrationForm.preferredProvider) }}
		{{ form_widget(registrationForm.preferredProvider) }}
		{% endif %}
		<div class="help-inline pb-2 text-danger">* denotes required field</div>
		<button type="submit" class="btn btn-primary" name="submit">Update</button>
	{{ form_end(registrationForm) }}
</div>
{% endblock %}		
