{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
<h3 class="text-center">Enter your details below</h3>
<div class="form">
	{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.forename) }}
		{{ form_row(registrationForm.surname) }}
		{{ form_row(registrationForm.plainPassword) }}
		<div class="help-inline pb-2 text-danger">* denotes required field</div>
		<button type="submit" class="btn btn-primary" name="submit">Register</button>
	{{ form_end(registrationForm) }}
</div>
{% endblock %}
