{% block body %}
<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th style="width:40px">Rank</th>
        <th>Name</th>
        <th>Total</th>
        {% for month in months %}
        <th>{{ month }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% set counter = 0 %}
      {% for user in users %}
      {% if user.isDisqualified != true and counter < 10 %}
      <tr>
        <td style="width:40px; text-align:right">
    {% set counter = counter + 1 %}{{ counter }}
        </td>
        <td>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('app_display_rides', {'username': user.username}) }}">{{ user.name }}</a>
    {% else %}
    {{ user.privatename }}
    {% endif %}
        </td>
        <td>
    {{ user.totalpoints }}				
        </td>
        {% for month in user.months %}
        <td>
    {{ month.points }}
        </td>
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
      <tr>
        <td class="text-center" colspan="{{ months | length + 3}}"><strong><a href="{{ path('app_leaderboard') }}">View more</a></strong></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
